@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.wrap {
  width: 1140px;
  margin: 0 auto;
}

a:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
}

button:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

input[type=submit]:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header {
  background: #222222;
}

.header-wrap {
  background: #222222;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 111px;
}

.account {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 160px;
}

.burger {
  border: none;
  background: none;
}

.burger:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.5s;
}

.account_basket_circle {
  position: absolute;
  display: inline-block;
  justify-content: right;
  width: 19px;
  height: 19px;
  background-color: #F16D7F;
  margin-left: 137px;
  margin-bottom: 28px;
  border-radius: 19px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  color: #FFFFFF;
  line-height: 18px;
}

.promo {
  background: linear-gradient(to right, rgba(113, 103, 105, 0.08) 50%, #F1E4E6 50%);
  height: 765px;
}

.promo-wrap {
  height: 765px;
  background: linear-gradient(to right, rgba(113, 103, 105, 0) 50%, #F1E4E6 50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.promo_image img {
  animation: anim_2 3s 1;
  animation-delay: 0s;
  animation-timing-function: ease-in-out;
  margin-top: 5px;
}

.promo_description {
  display: flex;
  justify-content: space-around;
  margin-right: 100px;
  width: 405px;
  align-items: center;
}

@keyframes anim {
  0% {
    margin-right: -1000px;
    opacity: 0;
    margin-top: -92px;
    transform: rotate(-90deg);
  }
  20% {
    opacity: 1;
  }
  50% {
    margin-right: 100px;
    margin-top: -110px;
    transform: scaleX(0.8);
  }
  55% {
    transform: rotate(0deg);
  }
  95% {
    transform: scaleY(0.8);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes anim_2 {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0.8;
  }
  100% {
    opacity: 1.0;
  }
}

.promo_description {
  animation: anim 3s 1;
  animation-delay: 0s;
  animation-timing-function: ease-in-out;
}

.promo_description_line {
  width: 12px;
  height: 92px;
  background-color: #f16d7f;
}

.promo_description_text {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 38.4px;
  color: #222222;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.promo_description_text p {
  height: 73px;
}

.promo_description_text p span {
  font-weight: 700;
  font-size: 32px;
}

.promo_description_text p span:nth-child(3) {
  color: #f16d7f;
}

/*Overlay Promo*/
.overlay-promo {
  z-index: 9;
  position: absolute;
  top: 75px;
  left: 0;
  right: 0;
  height: 765px;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: flex-end;
  align-items: center;
  opacity: 1;
  transition: 0.5s;
}

.overlay-promo-open {
  display: flex;
}

.overlay-promo-menu {
  position: relative;
  padding-top: 37px;
  padding-left: 34px;
  height: 765px;
  width: 232px;
  background: #FFFFFF;
  list-style-type: none;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.overlay-promo-menu__close {
  padding: 0px;
  border: none;
  background: none;
  right: 17px;
  top: 16px;
  position: absolute;
  opacity: 1;
}

.overlay-promo-menu__close:hover {
  opacity: 0.3;
}

.overlay-promo-menu__close:before, .overlay-promo-menu__close:after {
  position: absolute;
  content: '';
  height: 18px;
  width: 2px;
  background-color: #575757;
}

.overlay-promo-menu__close:before {
  transform: rotate(45deg);
}

.overlay-promo-menu__close:after {
  transform: rotate(-45deg);
}

.overlay-promo-menu__head1 {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  font-family: 'Lato', sans-serif;
}

.overlay-promo-menu__head1::before {
  content: none;
}

.overlay-promo-menu__head2 {
  margin-top: 21px;
  font-size: 14px;
  color: #F16D7F;
  font-family: 'Lato', sans-serif;
}

.overlay-promo-menu-category {
  list-style-type: none;
  margin-top: 13px;
  padding-left: 21.5px;
}

.overlay-promo-menu-category li {
  margin-top: 12px;
}

.overlay-promo-menu-category li:nth-child(5) {
  margin-top: 16px;
  margin-bottom: 16px;
}

.overlay-promo-menu-category__list {
  font-size: 14px;
  color: #6F6E6E;
  font-family: 'Lato', sans-serif;
}

.categories_wrap {
  margin-top: 63px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #fff;
}

.categories_product {
  width: 360px;
  height: 260px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.categories_product p span {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.categories_women {
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/categories/ForWomen.png);
}

.categories_men {
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/categories/Formen.png);
}

.categories_kids {
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/categories/Forkids.png);
}

.categories_accesories {
  margin-top: 30px;
  width: 1140px;
  height: 180px;
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/categories/accesories.png);
}

.products_wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
}

.products_heading {
  margin-top: 97px;
  margin-bottom: 18px;
  height: 59px;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.products_heading span {
  height: 36px;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}

.products_heading span:nth-child(2) {
  height: 14px;
  Font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

.products_elements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.products_product {
  overflow: hidden;
  position: relative;
  transition: 0.5s;
  margin-top: 30px;
  text-align: left;
  width: 360px;
  height: 581px;
  background: #F8F8F8;
}

.products_product:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.products_overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 420px;
  background-color: rgba(58, 56, 56, 0.83);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
}

.products_product:hover .products_overlay {
  opacity: 1;
}

.products_btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: inherit;
  width: 136px;
  height: 41px;
  border: 1px solid #FFFFFF;
  font-family: 'Lato', sans-serif;
  Font-size: 14px;
  Line-height: 16.8px;
  color: white;
}

.products_product p {
  padding-left: 16.46px;
  padding-right: 33px;
}

.products__head {
  font-family: 'Lato', sans-serif;
  Font-size: 13px;
  Line-height: 16px;
  color: #000000;
}

.products__text {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  Font-size: 14px;
  Line-height: 17px;
  color: #5D5D5D;
}

.products__price {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  Font-size: 16px;
  Line-height: 19px;
  color: #F16D7F;
}

.products_button {
  margin-top: 48.5px;
  margin-bottom: 95.5px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.products_button_button {
  height: 47px;
  width: 211px;
  border: none;
  background: #F16D7F;
  color: #fff;
  font-family: 'Lato', sans-serif;
  Font-size: 16px;
  Line-height: 19.2px;
}

.products_button_button:hover {
  color: #F26376;
  outline: 1px solid #FF6A6A;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 2px 4px rgba(0, 0, 0, 0.25);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: outline 0.5s, text-shadow 0.5s, box-shadow 0.5s, background 0.5s, color 0.5s;
  -moz-transition: outline 0.5s, text-shadow 0.5s, box-shadow 0.5s, background 0.5s, color 0.5s;
  -o-transition: outline 0.5s, text-shadow 0.5s, box-shadow 0.5s, background 0.5s, color 0.5s;
}

.advantages {
  background: #222224;
}

.advantages_wrap {
  background: #222224;
  align-items: center;
  height: 341px;
  display: flex;
  justify-content: space-between;
}

.advantages_block {
  text-align: center;
  color: #FBFBFB;
  height: 144px;
  width: 360px;
}

.advantages_block p:nth-child(2) {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  Font-size: 19.96px;
  Line-height: 24px;
}

.advantages_block p:nth-child(3) {
  padding-left: 30px;
  padding-right: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  Font-size: 13.972px;
  Line-height: 17px;
}

.feedback_background {
  background-image: linear-gradient(rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7)), url(../img/feedback/BackgroungFeedBack.png);
  background-repeat: no-repeat;
  background-position: center;
}

.feedback_wrap {
  height: 448px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment {
  text-align: center;
  height: 225.41px;
  width: 359.45px;
  font-size: 20px;
  line-height: 24px;
  font-family: 'Lato', sans-serif;
}

.comment p span {
  font-style: italic;
}

.subscribe {
  text-align: center;
  height: 142px;
  width: 356px;
}

.subscribe span:nth-child(1) {
  color: #222224;
  font-size: 24px;
  line-height: 37.73px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
}

.subscribe span:nth-child(2) {
  color: #222224;
  font-size: 18px;
  line-height: 30.1px;
  font-family: 'Lato', sans-serif;
}

.subscribe-mail {
  padding-left: 23px;
  margin-top: 32px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border: none;
  outline: none;
  height: 49px;
  width: 256px;
  background: #E1E1E1;
  color: #222224;
  font-size: 14px;
  line-height: 17px;
  opacity: 0.67;
  font-family: 'Lato', sans-serif;
}

.subscribe-mail::-webkit-input-placeholder {
  color: #000000;
  font-size: 14px;
  line-height: 17px;
  opacity: 0.67;
  font-family: 'Lato', sans-serif;
}

.subscribe-button {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: none;
  width: 100px;
  height: 49px;
  background-color: #F16D7F;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 17px;
  vertical-align: bottom;
}

.footer {
  background-color: #222224;
}

.footer_wrap {
  background: #222222;
  height: 79px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.allRightReserved {
  width: 332px;
  color: #FBFBFB;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 19px;
}

.socialNetworks {
  display: flex;
  justify-content: space-between;
  width: 147.66px;
}

.socialNetworks-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 31.45px;
  background-color: #FFFFFF;
}

.socialNetworks-img a {
  height: 15px;
}

.socialNetworks-img__badge {
  fill: black;
}

.socialNetworks-img:hover {
  background-color: #F16D7F;
}

.socialNetworks-img:hover .socialNetworks-img__badge {
  fill: white;
}

/*Блок страницы Каталога*/
/*Блок страницы Каталога*/
/*Блок страницы Каталога*/
/*Блок страницы Каталога*/
.arrivals {
  height: 148px;
  background-color: #F8F3F4;
}

a {
  text-decoration: none;
}

.arrivals-wrap {
  height: 148px;
  background-color: #F8F3F4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left_head h1 {
  Font-size: 24px;
  Line-height: 29px;
  font-family: 'Lato', sans-serif;
  color: #F16D7F;
}

.right_explorer__p {
  Font-size: 14px;
  Line-height: 16.8px;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  color: #636363;
}

.right_explorer__p a {
  color: #636363;
}

.right_explorer__span {
  Font-size: 14px;
  Line-height: 16.8px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  color: #F16D7F;
}

.products_filter {
  height: 132px;
  margin-bottom: -30px;
}

.products_filter_wrap {
  height: 132px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products_filter_catalog {
  display: flex;
  justify-content: start;
  position: absolute;
}

.summary_filter {
  margin-top: -9px;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 16.8px;
  color: #000000;
}

.summary_filter::after {
  content: url(../img/filter/filterclose.png);
  margin-left: 11px;
}

.details_filter {
  z-index: 8;
  position: relative;
}

.details_filter[open] ul {
  padding-inline-start: 0px;
}

.details_filter[open] .summary_filter {
  margin-top: 11.5px;
  padding-left: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 16.8px;
  color: #EF5B70;
}

.details_filter[open] {
  margin-top: -20.5px;
  padding-bottom: 16px;
  width: 360px;
  background-color: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.details_filter[open] .summary_filter::after {
  content: url(../img/filter/filteropen.png);
  margin-left: 11px;
}

.details_filter[open] .summary_filter_category {
  margin-right: 15px;
  margin-top: 16px;
  margin-left: 17px;
  padding-bottom: 16px;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 16.8px;
  color: #6F6E6E;
  border-left: 5px solid #EF5B70;
  border-bottom: 1px solid #ebebeb;
  padding: 11px;
  outline: none;
}

.details_filter[open] li {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 16.8px;
  padding-top: 16px;
  padding-left: 4px;
  list-style-type: none;
  color: #6F6E6E;
}

/* прячем input checkbox */
.details_filter input[type="checkbox"] {
  display: none;
}

/* формируем внешний вид чекбокса в псевдоэлементе before */
.details_filter label:before {
  z-index: 9;
  content: " ";
  color: #6F6E6E;
  display: inline-block;
  font: 18px/26px Arial;
  position: relative;
  text-align: center;
  text-indent: 0px;
  width: 30px;
  height: 30px;
  background: #FFF;
  border: none;
  border-image: initial;
  vertical-align: middle;
}

/* вариации внешнего вида в зав-ти от статуса checkbox */
/* checked */
.details_filter input:checked + label:before {
  content: "V";
}

/* disabled */
.details_filter input:disabled + label:before {
  background: #eee;
  color: #aaa;
}

.details_filter[open] li:nth-last-child(1) {
  margin-bottom: 24px;
}

.details_filter[open] li:nth-child(1) {
  margin-top: -8px;
}

::-webkit-details-marker {
  display: none;
}

.products_filter_other {
  font-size: 14px;
  line-height: 16.8px;
  color: #6F6E6E;
  font-family: 'Lato', sans-serif;
  width: 276px;
  display: flex;
  justify-content: space-between;
}

.products_filter_other li {
  padding-top: 9.5px;
  list-style-type: none;
  font-size: 14px;
  line-height: 16.4px;
  color: #6F6E6E;
  font-family: 'Roboto', sans-serif;
}

.products_filter_other li:nth-last-child(1) {
  padding-bottom: 12px;
}

.products_filter_other summary::after {
  content: url(../img/filter/summaryother.svg);
  margin-left: 10px;
}

.products_filter_other ul {
  z-index: 9;
  margin-left: -9px;
  margin-top: 5px;
  padding-inline-start: 9px;
  background-color: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  width: 79px;
  position: absolute;
}

input[type="checkbox"] {
  display: none;
}

/* формируем внешний вид чекбокса в псевдоэлементе before */
label:before {
  margin-right: 9.5px;
  content: " ";
  color: #6F6E6E;
  display: inline-block;
  font: 10px/11px Arial;
  position: relative;
  text-align: center;
  text-indent: 0px;
  width: 12px;
  height: 12px;
  background: #FFF;
  border: 1px solid #EBEBEB;
  border-image: initial;
  vertical-align: middle;
}

/* вариации внешнего вида в зав-ти от статуса checkbox */
/* checked */
input:checked + label:before {
  content: "X";
}

/* disabled */
input:disabled + label:before {
  background: #eee;
  color: #aaa;
}

.pagination_wrap {
  display: flex;
  justify-content: center;
}

.pagination {
  padding-left: 0;
  list-style-type: none;
  margin-top: 48.5px;
  margin-bottom: 96px;
  display: flex;
}

.pagination:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.5s;
}

.page-link {
  position: relative;
  display: block;
  margin: 0px;
  padding: 11px 12px 0px 12px;
  border-top: 1px solid #EBEBEB;
  border-bottom: 1px solid #EBEBEB;
  border-left: none;
  border-right: none;
  height: 44px;
  color: #C4C4C4;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  Font-size: 16px;
  Line-height: 19px;
  text-decoration: none;
}

.page-link__leftRight {
  Font-size: 14px;
  color: black;
}

.page-item {
  text-align: none;
}

.page-item:first-child .page-link {
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
  padding-top: 13px;
  padding-right: 8px;
  padding-left: 15px;
  border-left: 1px solid #EBEBEB;
}

.page-item:last-child .page-link {
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
  padding-top: 13px;
  padding-left: 10px;
  padding-right: 15px;
  border-right: 1px solid #EBEBEB;
}

.page-item:nth-child(6) .page-link {
  padding-right: 10px;
}

.page-item:nth-child(7) .page-link {
  padding-left: 10px;
  padding-right: 1px;
}

.page-item:nth-child(8) .page-link {
  padding-right: 1px;
  padding-left: 1px;
}

.page-item:nth-child(9) .page-link {
  padding-left: 1px;
  padding-right: 10px;
}

.page-link:hover {
  background: none;
  font-weight: 300;
  color: #EF5B70;
}

/*Блок страницы Продукта*/
/*Блок страницы Продукта*/
/*Блок страницы Продукта*/
/*Блок страницы Продукта*/
.carousel {
  height: 777px;
  background-color: #f7f7f7;
}

.carousel_wrap {
  margin: 0 auto;
  max-width: 1600px;
  height: 777px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.carousel_image {
  margin-bottom: 30px;
  height: 724px;
  width: 597px;
}

.carousel_prev_next {
  display: flex;
  justify-content: flex-end;
}

.carousel_p_n {
  height: 47px;
  width: 47px;
  background: rgba(42, 42, 42, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.carousel_p_n:hover {
  color: #F16D7F;
}

.product_description_card {
  display: flex;
  justify-content: center;
  height: 600px;
}

.wrap_product_description_card {
  position: absolute;
}

.position_description_card {
  background-color: white;
  border: 1px solid #eaeaea;
  position: relative;
  margin-top: -65px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.product_card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product_card h2 {
  margin-top: 64.54px;
  font-family: 'Lato', sans-serif;
  Font-size: 14px;
  Line-height: 16.8px;
  font-weight: 300;
  color: #F16D7F;
  margin-bottom: 12px;
}

.product_card span:nth-child(2) {
  width: 63px;
  border-bottom: 3px solid #ef5b70;
}

.product_card h3 {
  margin-top: 12px;
  margin-bottom: 48.41px;
  font-family: 'Lato', sans-serif;
  Font-size: 18px;
  Line-height: 21.6px;
  font-weight: 300;
  color: #4d4d4d;
}

.product_card p:nth-child(4) {
  width: 555px;
  margin-top: 0;
  margin-bottom: 32.27px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  Font-size: 14px;
  Line-height: 16.8px;
  font-weight: 300;
  white-space: break-spaces;
  color: #5E5E5E;
}

.product_card p:nth-child(5) {
  margin: 0;
  font-family: 'Lato', sans-serif;
  Font-size: 24px;
  Line-height: 29px;
  font-weight: 300;
  color: #EF5B70;
  font-family: 'Lato', sans-serif;
}

.product_card span:nth-child(6) {
  margin-top: 64.5px;
  width: 642px;
  border-bottom: 1px solid #eaeaea;
}

.product_card_filter {
  height: 243px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product_description_card .products_filter_other {
  width: 373.02px;
}

.product_card_filter .products_button {
  margin-bottom: 0;
}

.button_cart {
  padding-top: 5px;
  padding-right: 56.5px;
  padding-left: 23.5px;
  height: 47px;
  width: 211px;
  outline: 1px solid #FF6A6A;
  border: none;
  background: #fff;
  Font-size: 16px;
  Line-height: 19.2px;
  color: #F26376;
  font-family: 'Lato', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products_elements_page_product {
  margin: 33px 0px 128px 0px;
}

/*Блок страницы Корзины покупателя*/
/*Блок страницы Корзины покупателя*/
/*Блок страницы Корзины покупателя*/
/*Блок страницы Корзины покупателя*/
.shopingCart {
  height: 1000px;
}

.wrap-shopingCart {
  display: flex;
}

.shopingCart-carts {
  margin-top: 56px;
  width: 652px;
}

.shopingCart-carts-cart {
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
  display: flex;
  height: 306px;
  width: 652px;
  margin-top: 40px;
}

.shopingCart-carts-cart__image img {
  height: 306px;
  width: 262px;
}

.shopingCart-carts-cart-description {
  position: relative;
  margin-left: 31px;
}

.shopingCart-carts-cart-description__head {
  word-spacing: 10px;
  width: 262px;
  Font-size: 24px;
  Line-height: 29px;
  color: #222222;
  font-family: 'Lato', sans-serif;
}

.shopingCart-carts-cart-description__price {
  margin-top: 42px;
  Font-size: 22px;
  Line-height: 26px;
  color: #575757;
  font-family: 'Lato', sans-serif;
  margin-bottom: 0px;
  margin-top: 12px;
}

.shopingCart-carts-cart-description__price span {
  color: #EF5B70;
}

.shopingCart-carts-cart-description__color {
  Font-size: 22px;
  Line-height: 26px;
  color: #575757;
  font-family: 'Lato', sans-serif;
  margin-bottom: 0px;
  margin-top: 12px;
}

.shopingCart-carts-cart-description__color span {
  color: #6F6E6E;
}

.shopingCart-carts-cart-description__size {
  Font-size: 22px;
  Line-height: 26px;
  color: #575757;
  font-family: 'Lato', sans-serif;
  margin-bottom: 0px;
  margin-top: 12px;
}

.shopingCart-carts-cart-description__size span {
  color: #6F6E6E;
}

.shopingCart-carts-cart-description-quantity {
  margin-top: 12px;
  padding: 0px;
  border: none;
}

.shopingCart-carts-cart-description-quantity__label {
  Font-size: 22px;
  Line-height: 26px;
  color: #575757;
  font-family: 'Lato', sans-serif;
  margin-bottom: 0px;
  margin-top: 12px;
}

.shopingCart-carts-cart-description-quantity__label::before {
  margin: 0px;
  border: none;
  content: "";
  width: 0px;
}

.shopingCart-carts-cart-description-quantity__input {
  margin-left: 31px;
  width: 43.19px;
  height: 24.12px;
  border: 1px solid #EAEAEA;
  text-align: center;
  Font-size: 18px;
  Line-height: 22px;
  color: #656565;
  font-family: 'Lato', sans-serif;
}

.shopingCart-carts-cart-description-quantity__input::-webkit-inner-spin-button {
  opacity: 0;
  margin-right: -15px;
}

.shopingCart-carts-cart-description-quantity__label:hover .shopingCart-carts-cart-description-quantity__input::-webkit-inner-spin-button {
  opacity: 1;
  margin-right: 0px;
}

.shopingCart-carts-cart-description__close {
  position: absolute;
  right: -57px;
  top: 28px;
  width: 18px;
  height: 18px;
  opacity: 1;
}

.shopingCart-carts-cart-description__close:hover {
  opacity: 0.3;
}

.shopingCart-carts-cart-description__close:before, .shopingCart-carts-cart-description__close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 18px;
  width: 2px;
  background-color: #575757;
}

.shopingCart-carts-cart-description__close:before {
  transform: rotate(45deg);
}

.shopingCart-carts-cart-description__close:after {
  transform: rotate(-45deg);
}

.shopingCart-carts-buttons {
  margin-top: 72.5px;
  display: flex;
  justify-content: space-between;
}

.shopingCart-carts-buttons__button {
  height: 50px;
  padding-left: 39px;
  padding-right: 40px;
  outline: 1px solid #A4A4A4;
  border: none;
  background: #fff;
  color: #000;
  font-family: 'Lato', sans-serif;
  Font-size: 14px;
  font-weight: 300;
}

.shopingCart-form-shippingAdress {
  margin-top: 113px;
  margin-left: 128px;
  width: 360px;
}

.shopingCart-form-shippingAdress__fieldset {
  margin: 0;
  padding: 0px;
  border: none;
}

.shopingCart-form-shippingAdress__legeng {
  Font-size: 16px;
  Line-height: 19px;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  color: #222222;
}

.shopingCart-form-shippingAdress__input {
  width: 358px;
  height: 45px;
  border: none;
  outline: 1px solid #A4A4A4;
  margin-top: 20.5px;
  Font-size: 13px;
  Line-height: 16px;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  color: #222222;
  padding-left: 17.24px;
}

.shopingCart-form-shippingAdress__input::placeholder {
  Font-size: 13px;
  Line-height: 16px;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  color: #B1B1B1;
}

.shopingCart-form-shippingAdress__button {
  margin-top: 24px;
  width: 102px;
  height: 35px;
  border: none;
  outline: 1px solid #A4A4A4;
  background: none;
  Font-size: 11px;
  Line-height: 13px;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  color: #4A4A4A;
}

.shopingCart-form-checkout {
  width: 360px;
  height: 214px;
  background: #F5F3F3;
  margin-top: 57px;
  margin-left: 128px;
  text-align: end;
  padding-top: 39px;
}

.shopingCart-form-checkout__subTotal {
  padding-right: 34px;
  margin: 0;
  Font-size: 11px;
  Line-height: 13px;
  font-family: 'Lato', sans-serif;
  color: #4A4A4A;
}

.shopingCart-form-checkout__subTotal span {
  margin-left: 25px;
}

.shopingCart-form-checkout__garndTotal {
  padding-right: 37px;
  margin-top: 12px;
  Font-size: 16px;
  Line-height: 19px;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  color: #222222;
}

.shopingCart-form-checkout__garndTotal span {
  margin-left: 25px;
  font-weight: bold;
  color: #F16D7F;
}

.shopingCart-form-checkout__underline {
  margin-top: 24px;
  margin-bottom: 18px;
  margin-left: 43px;
  margin-right: 42px;
  width: 275px;
  border-bottom: 1px solid #E2E2E2;
}

.shopingCart-form-checkout__button {
  margin-right: 43px;
  width: 275px;
  height: 50px;
  Font-size: 16px;
  Line-height: 19px;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  color: #fff;
  background: #F16D7F;
  border: none;
}

/*Блок страницы Регистрации*/
/*Блок страницы Регистрации*/
/*Блок страницы Регистрации*/
/*Блок страницы Регистрации*/
.wrap-registration {
  display: flex;
  justify-content: space-between;
}

.registration-form {
  margin-top: 64px;
  width: 360px;
}

.registration-form__fieldset {
  margin: 0;
  padding: 0px;
  border: none;
}

.registration-form__legeng {
  padding: 0px;
  margin-top: 35px;
  Font-size: 16px;
  Line-height: 19px;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  color: #222222;
}

.registration-form__input {
  width: 358px;
  height: 45px;
  border: none;
  outline: 1px solid #A4A4A4;
  margin-top: 20.5px;
  Font-size: 13px;
  Line-height: 16px;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  color: #222222;
  padding-left: 17.24px;
}

.registration-form__input::placeholder {
  Font-size: 13px;
  Line-height: 16px;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  color: #B1B1B1;
}

.registration-form__labelInput {
  margin-right: 20px;
  Font-size: 11px;
  Line-height: 13.2px;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
}

.registration-form__labelInput::before {
  content: none;
}

.registration-form__radioInput {
  vertical-align: bottom;
  margin-top: 31.5px;
  width: 17px;
  height: 17px;
  margin-left: 0;
  margin-right: 10px;
}

.registration-form__button {
  padding: 0;
  margin-top: 24px;
  margin-bottom: 96px;
  width: 167px;
  height: 50px;
  border: none;
  outline: none;
  background: #F16D7F;
  Font-size: 14px;
  font-family: 'Lato', sans-serif;
  color: #fff;
}

.registration-form__button::after {
  content: "\2192";
  font-size: 17px;
  padding-left: 20px;
}

.registration-form__button:hover {
  cursor: pointer;
}

.registration-form__text {
  Font-size: 13px;
  Line-height: 16px;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  color: #B1B1B1;
  margin-top: 15px;
}

.registration-loyalty {
  margin-top: 64px;
  width: 652px;
}

.registration-loyalty__head, .registration-loyalty__text, .registration-loyalty__promotion {
  margin: 0;
  Font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  margin-bottom: 22px;
}

.registration-loyalty__promotion {
  margin-bottom: 16px;
}

.registration-loyalty__promotion::before {
  content: "\2713";
  margin-right: 22px;
}
/*# sourceMappingURL=style.css.map */